

div.datepicker {
position: absolute;
text-align: center;
border: 1px #AAA solid;
font-family: arial;
background: #FFF;
font-size: 10px;
padding: 0;
}

div.datepicker-calendar table {
font-size: 10px;
border: 1px solid #FFF;
margin: 0;
padding: 0;
text-align: center;
}

div.datepicker div.datepicker-header {
font-size: 11px;
font-weight: bold;
background: #F0F0F0;
border-bottom: 1px solid #AAA;
padding: 2px;
text-align: center;
}

div.datepicker table.header {
width: 175px;
border: 0;
padding: 0;
text-align: center;
border-spacing: 0;
border-collapse: collapse;
}

td.prev,td.prev_year,td.next,td.next_year {
width: 8%;
cursor: pointer;
font-weight: bold;
line-height: 16px;
}

td.prev:hover,td.prev_year:hover,td.next:hover,td.next_year:hover {
background-color: #D0D0D0;
}

td.header {
text-align: center;
width: 68%;
font-weight: bold;
line-height: 16px;
}

div.datepicker-header {
height: 16px;
}

div.datepicker-calendar table tbody tr {
border: 1px solid #FFF;
margin: 0;
padding: 0;
}

div.datepicker-calendar table tbody tr td {
border: 1px #EAEAEA solid;
margin: 0;
padding: 0;
text-align: center;
height: 16px;
line-height: 16px;
width: 21px;
cursor: pointer;
}

div.datepicker-calendar table tbody tr td:hover,div.datepicker-calendar table tbody tr td.outbound:hover,div.datepicker-calendar table tbody tr td.today:hover {
border: 1px #CCE9FF solid;
background: #E9F5FF;
cursor: pointer;
}

div.datepicker-calendar table tbody tr td.wday {
border: 1px #AAA solid;
background: #CCC;
cursor: text;
width: 21px;
height: 16px;
line-height: 16px;
font-weight: bold;
}

div.datepicker-calendar table tbody tr td.outbound {
background: #F4F3F3;
}

div.datepicker-calendar table tbody tr td.today {
border: 1px #CCE9FF solid;
background: #E9F5FF;
background-image: url(../../images/date_active.png);
background-repeat: no-repeat;
width: 21px;
height: 16px;
line-height: 16px;
}

div.datepicker-calendar table tbody tr td.today:hover {
border: 1px #CCE9FF solid;
background: #E9F5FF;
background-image: url(../../images/date_active.png);
background-repeat: no-repeat;
}

div.datepicker-calendar table tbody tr td.nclick,div.datepicker-calendar table tbody tr td.nclick_outbound {
cursor: default;
color: #aaa;
width: 21px;
height: 16px;
line-height: 16px;
}

div.datepicker-calendar table tbody tr td.nclick_outbound {
background: #E8E4E4;
width: 21px;
height: 16px;
line-height: 16px;
}

div.datepicker-calendar table tbody tr td.nclick:hover,div.datepicker-calendar table tbody tr td.nclick_outbound:hover {
border: 1px #EAEAEA solid;
background: #FFF;
}

div.datepicker-calendar table tbody tr td.nclick_outbound:hover {
background: #E8E4E4;
}

div.datepicker div.datepicker-footer {
font-size: 10px;
background: #F0F0F0;
border-top: 1px solid #AAA;
cursor: pointer;
text-align: center;
padding: 2px;
}

.date {
float: left;
text-align: center;
width: 90px;
}
html.rtl .date {
float: right;
}

.datepicker-opener-table {
border: 1px solid transparent;
padding: 0;
border-spacing: 0;
margin: 0 0 0 93px;
background: transparent url(../../geticon.php?context=applications&icon=office-calendar&size=16) no-repeat 0 0;
width: 18px;
height: 18px;
cursor: pointer;
}
html.rtl .datepicker-opener-table {
margin: 0 93px 0 0;
}

.Opera .datepicker-opener-table {
float: right;
}
html.rtl .Opera .datepicker-opener-table {
float: left;
}

.IE7 .datepicker-opener-table {
position: relative;
top: 0;
left: 3px;
}
html.rtl .IE7 .datepicker-opener-table {
right: 3px;
left: auto;
}

.datepicker-opener {
width: 16px;
height: 16px;
margin: 0 0 0 3px;
cursor: pointer;
}
html.rtl .datepicker-opener {
margin: 0 3px 0 0;
}
