[Desktop Entry]
MimeType=text/plain;
GenericName=FusionDirectory
Exec=/usr/bin/fusiondirectory
Icon=fusiondirectory
Path=/usr/bin
Type=Application
Terminal=false
Name=FusionDirectory
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;System;
