includes:
  - phpstan-baseline.neon

parameters:
  bootstrapFiles:
    - include/php_setup.inc
    - include/class_msg_dialog.inc
    - include/class_userinfo.inc
  scanDirectories:
    - /usr/share/php
  fileExtensions:
    - php
    - inc
  universalObjectCratesClasses:
    - simplePlugin
  excludes_analyse:
    - */class_sieve*.inc
    - */localfiles/*
    - */vendor/*
    - */test/*
