input {
font-size:12px;
}

input[type=text] {
border:1px solid #AAA;
padding:2px;
}

input[type=text]:focus,input[type=password]:focus {
border:1px solid #333;
}

input[type=password] {
border:1px solid #AAA;
padding:2px;
}

input:focus {
font-size:12px;
}

select {
font-size:12px;
}

textarea {
border:1px solid #AAA;
font-size:12px;
}

textarea:focus {
font-size:12px;
}

input[disabled] {
color:#888;
background-color:#DDD;
}

textarea[disabled] {
color:#000;
background-color:#DDD;
}

select[disabled] {
color:#000;
background-color:#DDD;
}

/* On small screens */
@media (max-width: 640px) {
  input[type=text], input[type=password], input[type=file], textarea, select {
  max-width:100%;
  }
  input.base_selector {
  max-width:100px;
  }
}
