/* Login screen */
table.gosaLoginMask {
background-color:#8b898b;
text-align:center;
border:0;
}

td.gosaLoginBack {
width:606px;
height:406px;
background:url(images/login.png);
vertical-align:top;
}

div.gosaLoginBack {
padding-top:35px;
padding-bottom:0;
vertical-align:top;
}
html.ltr div.gosaLoginBack {
margin-left:100px;
margin-right:50px;
}
html.rtl div.gosaLoginBack {
margin-left:50px;
margin-right:100px;
}

p.gosaLoginHeader {
text-align:center;
font-size:14px;
font-weight:bold;
margin-bottom:15px;
}

p.gosaLoginWarning {
text-align:center;
color:red;
font-weight:bold;
font-size:12px;
}

div#window_container {
text-align:center;
}

div#window_div {
min-width:50%;
margin-top:100px;
border:1px solid #AAAAAA;background-color:white;
display:inline-block;
}

div#window_titlebar {
text-align:center;
border-bottom:1px solid #AAAAAA;
padding:8px;
background-color:#DBE6C6;
}

div#window_titlebar > p {
margin:0;
padding:0;
font-size:24px;
font-weight:bold;
}

div#window_content {
}

div#window_content > div {
padding:10px;
}

div#window_footer {
padding:0;
}

div#window_footer > div {
display:inline-block;
width:47%;
padding:1%;
text-align:left;
}
html.rtl div#window_footer > div {
text-align:right;
}

div#window_footer > div:nth-child(1) {
text-align:left;
color:red;
font-weight:bold;
}
html.rtl div#window_footer > div:nth-child(1) {
text-align:right;
}

div#window_footer > div:nth-child(2) {
text-align:right;
}
html.rtl div#window_footer > div:nth-child(2) {
text-align:left;
}

/* On small screens */
@media (max-width: 640px) {
  div#window_div {
  min-width:70%;
  margin-top:10px;
  }
  div#window_footer > div {
  display:block;
  width:auto;
  padding:5px;
  }
  div#window_footer.plugbottom > div:nth-child(2) > input[type=submit] {
  width:100% !important;
  }
  p.gosaLoginWarning {
  margin-top:0px;
  margin-bottom:0px;
  }
}

