/*********
 * Setup
 *********/
body.setup a.plugtop img {
height:48px;
}
html.ltr body.setup div#header_left .plugtop {
margin-left:80px;
}
html.rtl body.setup div#header_left .plugtop {
margin-right:80px;
}

div.setup_menu {
background-color:#F8F8F8;
padding:4px 5px;
border-bottom:1px solid #B0B0B0;
}

/* default.*/
div.default {
padding:2px;
vertical-align:middle;
}

#menucell.setup_navigation {
width:200px;
}

/* The box used for each setup step */
a.navigation_element,div.navigation_element {
text-decoration:none;
padding-top:8px;
padding-bottom:8px;
border-top:1px solid #AAA;
width:100%;
}
div.navigation_element:first-child, div.navigation_element_active:first-child {
border-top:none;
margin-top:0;
}

/* The box used for each setup step */
a.navigation_element_active,div.navigation_element_active {
text-decoration:none;
width:100%;
padding-top:8px;
padding-bottom:8px;
border-top:1px solid #AAA;
background-color:#F0F0F0;
}

/* An enabled setup step will use this style in navigation*/
div.navigation_title_active {
font-size:1.2em;
background-color:#F0F0F0;
font-weight:bold;
cursor:default;
padding:3px;
}

/* Disabled setup steps */
div.navigation_title_disabled {
font-size:1.2em;
font-weight:bold;
padding:3px;
cursor:default;
text-decoration:none;
color:#AAA;
}

/* Disabled setup steps */
div.navigation_title_inactive {
font-size:1.2em;
font-weight:bold;
text-decoration:none;
cursor:pointer;
padding:3px;
}

/* The style for the info of an active setup */
div.navigation_info {
font-size:1em;
color:#000;
padding:4px 4px 3px 23px;
margin:0;
cursor:default;
}

.setup_language select#lang_selected {
width:100%;
}

/*
  Setup step 2 styles
*/
/* used to hide display info div */
div.solution_visible {
display:block;
width:100%;
text-align:left;
}
html.rtl div.solution_visible {
text-align:right;
}

/* Container for name and status */
div.step2_entry_container {
padding:3px;
width:99%;
cursor:default;
}

/* Container for name and status, when status is failed */
div.step2_entry_container_info {
padding:3px;
border:1px solid #AAA;
width:99%;
cursor:default;
}

/* Text shown for each entry */
div.step2_entry_name {
float:left;
padding-bottom:4px;
vertical-align:middle;
}
html.rtl div.step2_entry_name {
float:right;
}

/* Status container */
div.step2_entry_status {
float:none;
text-align:right;
padding-bottom:4px;
vertical-align:middle;
}
html.rtl div.step2_entry_status {
text-align:left;
}

/* Status failed */
div.step2_failed {
color:red;
padding-bottom:4px;
}

/* Status failed but not necessary for setup */
div.step2_warning {
color:orange;
padding-bottom:4px;
}

/* Status successful */
div.step2_successful {
color:green;
}

/* Text used in info div. */
div.step2_failed_text {
background-repeat:no-repeat;
}
html.ltr div.step2_failed_text {
padding-left:25px;
}
html.rtl div.step2_failed_text {
padding-right:25px;
}

/* Text used in info div. On warnings */
div.step2_warning_text {
background-repeat:no-repeat;
}
html.ltr div.step2_warning_text {
padding-left:25px;
}
html.rtl div.step2_warning_text {
padding-right:25px;
}

/* On small screens */
@media (max-width: 640px) {
  body.setup a.plugtop img {
  height:32px;
  }
  html.ltr body.setup div#header_left .plugtop {
  margin-left:0px;
  }
  html.rtl body.setup div#header_left .plugtop {
  margin-right:0px;
  }
}
