/*********
 * Setup
 *********/

div.setup_menu {
background-color:#F8F8F8;
padding:4px 5px;
border-bottom:1px solid #B0B0B0;
}

/* Setup footer */
div.setup_bottom {
clear:left;
background-color:#DDD;
border-top:solid 1px red;
}
html.rtl div.setup_bottom {
clear:right;
}

/* Header col */
div.setup_plug_header {
padding:10px;
border-bottom:solid 1px #D0D0D0;
background-color:#E0E0F0;
border:10px solid #FFF;
}

/* Content col */
div.setup_contents {
margin-right:2px;
margin-left:20%;
background-color:#FFF;
width:80%;
border:1px solid #AAA;
padding:2px;
}
html.rtl div.setup_contents {
margin-right:20%;
margin-left:2px;
}

/* default.*/
div.default {
padding:2px;
vertical-align:middle;
}

#menucell.setup_navigation {
width:200px;
}

/* Navigation title */
div.setup_navigation_title {
font-size:1.2em;
font-weight:bold;
text-decoration:none;
width:100%;
padding-top:8px;
padding-bottom:8px;
border-top:1px solid #AAA;
}

/* The box used for each setup step */
a.navigation_element,div.navigation_element {
text-decoration:none;
padding-top:8px;
padding-bottom:8px;
border-top:1px solid #AAA;
width:100%;
}
div.navigation_element:first-child, div.navigation_element_active:first-child {
border-top:none;
margin-top:0;
}

/* The box used for each setup step */
a.navigation_element_active,div.navigation_element_active {
text-decoration:none;
width:100%;
padding-top:8px;
padding-bottom:8px;
border-top:1px solid #AAA;
background-color:#F0F0F0;
}

/* An enabled setup step will use this style in navigation*/
div.navigation_title_active {
font-size:1.2em;
background-color:#F0F0F0;
font-weight:bold;
cursor:default;
padding:3px;
}

/* Disabled setup steps */
div.navigation_title_disabled {
font-size:1.2em;
font-weight:bold;
padding:3px;
cursor:default;
text-decoration:none;
color:#AAA;
}

/* Disabled setup steps */
div.navigation_title_inactive {
font-size:1.2em;
font-weight:bold;
text-decoration:none;
cursor:pointer;
padding:3px;
}

/* The style for the info of an active setup */
div.navigation_info {
font-size:1em;
color:#000;
padding:4px 4px 3px 23px;
margin:0;
cursor:default;
}

.setup_language select#lang_selected {
width:100%;
}

/*
  Setup step 2 styles
*/
/* used to hide display info div */
div.solution_visible {
display:block;
width:100%;
text-align:left;
}
html.rtl div.solution_visible {
text-align:right;
}

/* Container headline */
h2.step2_container_title {
background-color:#F0F0F0;
border:solid 1px #CCC;
width:100%;
padding:3px;
}

/* Container for name and status */
div.step2_entry_container {
padding:3px;
width:99%;
cursor:default;
}

/* Container for name and status, when status is failed */
div.step2_entry_container_info {
padding:3px;
border:1px solid #AAA;
width:99%;
cursor:default;
}

/* Text shown for each entry */
div.step2_entry_name {
float:left;
padding-bottom:4px;
vertical-align:middle;
}
html.rtl div.step2_entry_name {
float:right;
}

/* Status container */
div.step2_entry_status {
float:none;
text-align:right;
padding-bottom:4px;
vertical-align:middle;
}
html.rtl div.step2_entry_status {
text-align:left;
}

/* Status failed */
div.step2_failed {
color:red;
padding-bottom:4px;
}

/* Status failed but not necessary for setup */
div.step2_warning {
color:orange;
padding-bottom:4px;
}

/* Status successful */
div.step2_successful {
color:green;
}

/* Text used in info div. */
div.step2_failed_text {
background-repeat:no-repeat;
}
html.ltr div.step2_failed_text {
padding-left:25px;
}
html.rtl div.step2_failed_text {
padding-right:25px;
}

/* Text used in info div. On warnings */
div.step2_warning_text {
background-repeat:no-repeat;
}
html.ltr div.step2_warning_text {
padding-left:25px;
}
html.rtl div.step2_warning_text {
padding-right:25px;
}

/*
  Setup step 4 styles
*/
li.step4_name,div.step4_name {
width:33%;
height:2em;
}
html.ltr li.step4_name, html.ltr div.step4_name {
float:left;
}
html.rtl li.step4_name, html.rtl div.step4_name {
float:right;
}

li.step4_value,div.step4_value {
width:50%;
height:2em;
}
html.ltr li.step4_value, html.ltr div.step4_value {
float:left;
}
html.rtl li.step4_value, html.rtl div.step4_value {
float:right;
}

ul.step4_container,div.step4_container {
height:2em;
margin-top:2px;
margin-left:2px;
margin-right:2px;
}
