body {
margin-left:0;
margin-right:0;
margin-top:0;
margin-bottom:0;
background-color:#FFF;
color:#00008F;
font-family:arial,helvetica,sans-serif;
font-size:12px;
}

h1 {
font-size:14px;
color:#00378a;
}

h2,h3,h4,h5,h6 {
font-size:13px;
color:#00378a;
}

td,p,b,th {
font-size:12px;
}

img {
border:none;
}

a:link {
text-decoration:none;
color:#00008F;
}

a:visited {
text-decoration:none;
color:#00008f;
}

td.listfooter {
background:#E5E5E5;
border-top:1px solid silver;
padding:3px;
height:16px;
}

td.scrollhead {
vertical-align:top;
padding:0;
}

td.scrollbody {
vertical-align:top;
padding:0;
}

div.scrollbody {
background-color:#FFF;
overflow:auto;
text-align:left;
}

/* -------------- DEPRECATED ----------------- */
td.list1 {
background:transparent;
border-right:1px solid silver;
padding:3px;
height:22px;
}

td.list1nohighlight {
background:#FFF;
border-right:1px solid silver;
padding:3px;
height:22px;
}

td.list1nohighlightdisabled {
background-color:#DFDBD7;
border-right:1px solid silver;
padding:3px;
height:22px;
}

td.list1#fill {
height:100%;
}

td.list1#icon {
width:0;
text-align:center;
}

td.list1#entry {
}

td.list1#info {
width:200px;
}

td.list1#property {
width:50px;
}

td.list1#properties7 {
width:136px;
}

td.list1#properties8 {
width:152px;
}

td.list1#properties9 {
width:168px;
}

td.list1#properties10 {
width:186px;
}

td.list1#actions {
width:52px;
border-right:0;
text-align:right;
}
/* -------------------------------------------- */

/* Title bar */
a.maintitlebar,div.maintitlebar {
font-family:arial,helvetica,sans-serif;
text-decoration:none;
/*color:#FFFFFF;*/
font-size:12px;
text-align:center;
vertical-align:middle;
cursor:pointer;
}

a.maintitlebar:hover {
text-decoration:none;
background-color:#d7e6b4;
cursor:pointer;
}

td.phonelist:hover {
background-color:#d2d2d2;
}

td.phonelist {
border-right:1px solid #B0B0B0;
}

div.copynotice {
border-style:solid;
border-color:#AAA;
width:100%;
border-top-width:1px;
border-bottom-width:0;
border-left-width:0;
border-right-width:0;
padding-top:3px;
padding-bottom:0;
text-align:right;
font-family:arial,helvetica,sans-serif;
font-size:10px;
}

p.seperator {
border-style:solid;
border-color:#AAA;
width:100%;
border-top-width:0;
border-bottom-width:1px;
border-left-width:0;
border-right-width:0;
padding-top:0;
padding-bottom:0;
margin-top:0;
margin-bottom:0;
text-align:left;
}

font.must {
color:red;
font-family:arial,helvetica,sans-serif;
}

img.center {
text-align:center;
vertical-align:middle;
}

input.center {
text-align:left;
vertical-align:middle;
}

select.center {
text-align:left;
vertical-align:middle;
}

a.center {
text-align:left;
vertical-align:middle;
}

/********************** Template migration *********************/

/* Account Expired screen */
td.gosaAccountExpiredBack {
width:550px;
height:300px;
background:url(images/accountexpired.png);
vertical-align:top;
}

div.gosaAccountExpiredBack {
padding-top:40px;
margin-left:90px;
margin-right:50px;
padding-bottom:0;
vertical-align:top;
}

p.gosaAccountExpiredHeader {
text-align:left;
font-size:14px;
font-weight:bold;
margin-bottom:15px;
}

table.framework {
height:auto;
width:100%;
border:0;
border-spacing:5px;
padding:0;
margin-left:0;
margin-top:0;
vertical-align:top;
}

table.framework td#maincell {
background-color:white;
width:auto;
vertical-align:top;
}

/* cellpadding="0" */
table.framework > tbody > tr > td {
padding:0;
}

table.maintab {
width:100%;
height:100%;
border:0;
border-spacing:0;
padding:0;
margin:0;
background-color:#507AAA;
vertical-align:top;
}

div.contentboxh {
background-color:#F0F0F0;
border:1px solid #AAA;
border-bottom:none;
height:26px;
vertical-align:middle;
width:auto;
}

p.contentboxh {
margin:2px;
font-family:arial,helvetica,sans-serif;
font-size:16px;
font-weight:bold;
vertical-align:middle;
}

div.contentboxb {
border:1px solid #b0b0b0;
border-top-width:0;
vertical-align:middle;
width:auto;
background:white;
padding:5px;
}
.filter div.contentboxb {
padding:0;
}
div.contentboxb > div {
display:inline-block;
margin:1px;
}
div.contentboxb > img, div.contentboxb > input {
display:inline-block;
margin:3px;
}

p.contentboxb {
padding-bottom:0;
margin:0;
border:4px solid #f8f8f8;
vertical-align:middle;
}

a.alphaselect:hover {
text-decoration:none;
background-color:#a0a0a0;
color:#FFF;
}

table.check {
background-color:#e1e1f1;
color:#000;
border:1px solid #AAA;
width:95%;
margin-left:20px;
}

td.check {
border-right:1px solid #AAA;
}

option.select {
background-repeat:no-repeat;
background-position:0 top;
border:0;
padding-left:20px;
padding-bottom:1px;
height:18px;
}

td.tbhead {
border-right:1px solid #B0B0B0;
border-bottom:1px solid #B0B0B0;
}

td.tbrhead {
border-bottom:1px solid #B0B0B0;
}

.item {
text-align:left;
white-space:nowrap;
font-family:"bitstream vera sans", "luxi sans", verdana, geneva, arial, helvetica, sans-serif;
font-size:12px;
padding-top:2px;
}

.item div {
position:relative;
display:block;
text-decoration:none;
}

.item :hover {
color:#FFF;
background-color:#4b6983;
text-decoration:none;
}

.separator {
background-color:red;
border-top:1px solid #c6c6bf;
border-bottom:1px solid #FFF;
margin:2px 5px;
/* top right bottom left */
height:0;
font-size:1px;
line-height:0;
}

div.errorMsgTitle {
width:100%;
font-size:1.4em;
padding-bottom:.3em;
padding-top:.3em;
font-weight:bold;
background-color:#F0F0F0;
}

div.errorMsgDialog {
width:60%;
background-color:#FFF;
border:4px solid red;
z-index:150;
display:none;
position:absolute;
}

div.infoMsgDialog {
width:60%;
background-color:#FFF;
border:2px solid #000;
z-index:150;
display:none;
position:absolute;
}

div.autocomplete {
position:absolute;
background-color:#FFF;
border:1px solid #AAA;
margin:0;
padding:0;
z-index:600;
overflow:hidden;
word-wrap:break-word;
}

div.autocomplete ul {
list-style-type:none;
margin:0;
padding:0;
}

div.autocomplete ul li {
list-style-type:none;
display:block;
margin:0;
padding:2px;
padding-left:4px;
cursor:pointer;
}

div.autocomplete li:hover {
background-color:#F0F0F0;
}

div.autocomplete ul li.selected {
background-color:#F0F0F0;
}

#pulldown {
background:#FFF;
height:23px;
border-top:1px #D0D0D0 solid;
border-left:1px #D0D0D0 solid;
border-bottom:1px gray solid;
border-right:1px gray solid;
}

#pulldown ul {
display:block;
margin:0;
padding:0;
line-height:1em;
list-style:none;
z-index:90;
}

#pulldown ul li {
margin:0 3px 0 0;
padding:0;
font-size:12px;
line-height:1em;
list-style-type:none;
}

#pulldown ul li a {
float:left;
display:block;
width:auto;
font-weight:normal;
background:transparent;
text-decoration:none;
margin:0;
padding:5px;
}

#pulldown ul li a:hover {
text-decoration:none;
}

#pulldown ul li.sep {
color:#AAA;
padding:.8em 0 .5em;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#pulldown ul li a {
float:none;
}

/* End IE5-Mac hack */
#pulldown ul.level2,#pulldown ul.level3 {
position:absolute;
top:0;
left:0;
visibility:hidden;
border-top:1px #D0D0D0 solid;
border-left:1px #D0D0D0 solid;
border-bottom:1px gray solid;
border-right:1px gray solid;
background:#FFF;
}

#pulldown ul.level2 li,#pulldown ul.level3 li {
border-bottom:1px solid #fff;
float:none;
margin:0;
padding:0;
width:200px;
}

#pulldown ul.level2 li a,#pulldown ul.level3 li a {
padding:5px 9px 5px 5px;
}

#pulldown ul.level2 li a:hover,#pulldown ul.level3 li a:hover {
font-weight:normal;
background-color:#418DD4;
background-image:none;
}

span.informal {
color:#444;
font-style:italic;
}

span.mark {
color:#B22;
}

#debug_handling {
background:#FFF6BF none repeat scroll 0 0;
border-color:#FFD324;
color:#514721;
border:2px solid #DDDDDD;
margin:.2em;
padding:.3em;
}

/* Header */

div#header_left {
float:left;
}

div#header_left .plugtop {
margin-left:35px;
}

div#header_left img {
vertical-align:middle;
}

div#header_left img#fd_logo {
padding-left:2px;
padding-right:25px;
}

div#header_left .logout {
margin-left:35px;
}

div#header_right {
padding-top:8px;
text-align:right;
height:38px;
color:black;
}

/* Header col */
div.setup_header {
background-color:#bbcc99;
padding:4px 5px 2px;
border-bottom:1px solid #999;
color:#000;
}

/* On small screens */
@media (max-width: 640px) {
  div.setup_header {
  padding:2px;
  }
  a.maintitlebar {
  width:34px;
  height:34px;
  overflow:hidden;
  margin:0;
  display:inline-block;
  float:left;
  padding:0;
  }
  a.maintitlebar img {
  padding:6px;
  width:22px;
  height:22px;
  }
  div#header_left .logout {
  margin-left:0;
  float:right;
  }
  div#header_left img#fd_logo {
  padding-left:2px;
  padding-right:2px;
  }
  div#header_left {
  height:34px;
  width:100%;
  float:none;
  }
  div#header_right {
  padding-top:8px;
  height:26px;
  margin-top:-34px;
  width:100%;
  float:none;
  }
  div#header_right a {
  background:#bbcc99;
  }
  .optional {
  display:none !important;
  }
  div#header_left .plugtop {
  display:inline-block;
  hyphens:none;
  overflow:hidden;
  white-space: nowrap;
  margin:0;
  padding-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:5px;
  font-size:1em;
  }
  div.logout-label {
  display:inline-block;
  vertical-align:middle;
  }
  table.framework {
  margin:0;
  border:none;
  width:100%;
  border-spacing:0;
  }
}
