
table.tabs_header {
width:100%;
border:none;
border-spacing:0px;
}

table.tabs_header > tbody > tr > td {
padding:0;
vertical-align:bottom;
white-space:nowrap;
width:1px;
}
table.tabs_header > tbody > tr > td:last-child {
width:auto;
}

div.tab_content {
padding:4px;
width:auto;
background-color:#F8F8F8;
border-style:solid;
border-color:#AAA;
border-top-width:0px;
border-bottom-width:1px;
border-left-width:1px;
border-right-width:1px;
}

div.tab_active {
text-align:center;
background-color:#f8f8f8;
border-style:solid;
border-color:#999;
border-top-width:1px;
border-bottom-width:0;
border-left-width:1px;
border-right-width:1px;
margin-top:0;
padding-top:2px;
padding-bottom:8px;
padding-left:8px;
padding-right:8px;
}

div.tab_notify {
background-image:url(../../geticon.php?context=status&icon=dialog-information&size=16);
background-repeat:no-repeat;
background-position:1px 1px;
}
html.ltr div.tab_notify {
padding-left:18px;
}
html.rtl div.tab_notify {
padding-right:18px;
}

div.tab_left {
text-align:center;
background-color:#D0D0D0;
border-style:solid;
border-color:#999;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-right-width:0;
margin-top:5px;
padding-top:1px;
padding-bottom:5px;
padding-left:8px;
padding-right:8px;
}
html.rtl div.tab_left {
border-left-width:0;
border-right-width:1px;
}

div.tab_right {
text-align:center;
background-color:#D0D0D0;
border-style:solid;
border-color:#999;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:0;
border-right-width:1px;
margin-top:5px;
padding-top:1px;
padding-left:8px;
padding-right:8px;
padding-bottom:5px;
}
html.rtl div.tab_right {
border-left-width:1px;
border-right-width:0;
}

div.tab_near_active {
text-align:center;
background-color:#D0D0D0;
border-style:solid;
border-color:#999;
border-top-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-right-width:1px;
margin-top:5px;
padding-top:1px;
padding-left:8px;
padding-right:8px;
padding-bottom:5px;
}

div.tab_border {
width:100%;
border-style:solid;
border-color:#999;
border-top-width:0;
border-bottom-width:1px;
border-left-width:0;
border-right-width:0;
}

a.tab_active,input.tab_active {
border:0;
margin:0;
height:22px;
font-family:arial,helvetica,sans-serif;
text-decoration:none;
color:#00008F;
font-size:13px;
font-weight:bold;
}

a.tab_right,input.tab_right {
height:20px;
border:0;
margin:0;
font-family:arial,helvetica,sans-serif;
text-decoration:none;
color:#00008F;
font-size:13px;
font-weight:bold;
}

a.tab_left,input.tab_left {
height:20px;
border:0;
margin:0;
font-family:arial,helvetica,sans-serif;
text-decoration:none;
color:#00008F;
font-size:13px;
font-weight:bold;
}

a.tab_near_active,input.tab_near_active {
height:20px;
border:0;
margin:0;
font-family:arial,helvetica,sans-serif;
background-color:#D0D0D0;
text-decoration:none;
color:#00008F;
font-size:13px;
font-weight:bold;
}
