/* Themes can override this file to add some CSS */

table.framework #maincell
{
padding-bottom:35px;
}

p.plugbottom
{
position:fixed;
bottom:0px;
right:10px;
margin:0;
box-shadow:0px 0px 2px black;
border-radius:5px 5px 0 0;
width:auto;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
padding-top:5px;
background:#BC9;
}


/* On small screens */
@media (max-width: 640px) {
  table.framework #maincell
  {
  padding-bottom:55px;
  }

  p.plugbottom
  {
  left:5px;
  right:5px;
  }
}
