Source: fusiondirectory
Section: web
Priority: optional
Maintainer: FusionDirectory packages maintainers group <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: po-debconf
Standards-Version: 3.9.1
Homepage: http://www.fusiondirectory.org/
Vcs-Browser: http://git.fusiondirectory.org/code/
DM-Upload-Allowed: yes

Package: fusiondirectory
Architecture: all
Depends: php5, php5-cli, apache2 | lighttpd | httpd , exim4 | mail-transport-agent, php5-gd, php5-imap, php5-ldap, php5-mcrypt, php5-mysql, php5-imagick | imagemagick (>= 5.4.4.5-1) | graphicsmagick-im-compat, libcrypt-smbhash-perl, smarty, php5-recode, smarty-gettext, smarty-acl-render, gettext, ${misc:Depends}, libapache2-mod-php5 | php5-cgi
Suggests: goto-si-server, cyrus21-imapd (>= 2.1.11), postfix-ldap, slapd, fusiondirectory-schema, php5-suhosin, php-apc, php-fpdf
Description: Web Based LDAP Administration Program
 Provided is access to posix, shadow, samba, proxy, fax, pureftp and
 kerberos accounts. It is able to manage the postfix/cyrus server
 combination and can write user adapted sieve scripts.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-dev
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, php5-cli, latex2html, lyx
Description: FusionDirectory development utilities
 This package contains a couple of tools to generate online
 help, extract localizations and howto's for developing FusionDirectory plugins.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-desktop
Architecture: all
Depends: ${misc:Depends}, konqueror | iceweasel | mozilla | firefox, debconf
Description: Desktop integration for FusionDirectory
 This package includes a FusionDirectory menu definition for your desktop
 environment.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory
 This package includes the basics LDAP schemas needed by FusionDirectory.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-help-en
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Description: English online help for FusionDirectory
 This package includes the English online documentation for FusionDirectory
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-help-de
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Description: German online help for FusionDirectory
 This package includes the German online documentation for FusionDirectory
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-help-fr
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Description: French online help for FusionDirectory
 This package includes the French online documentation for FusionDirectory
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-help-nl
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Description: Dutch online help for FusionDirectory
 This package includes the Dutch online documentation for FusionDirectory
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: smarty-acl-render
Architecture: all
Depends: ${misc:Depends}, smarty
Suggests: fusiondirectory
Description: Provide ACL based rendering for Smarty
 smarty-acl-render provides acl based rendering support for Smarty,
 the popular PHP templating engine (http://smarty.php.net/). This
 module is mainly used by FusionDirectory.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-addressbook
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: addressbook plugin for FusionDirectory
 Simple addressbook plugin for FusionDirectory.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-connectivity
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: connectivity plugin for FusionDirectory
 Connectivity base plugin - base for really small plugins.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-dhcp
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: dhcp plugin for FusionDirectory
 DHCP service management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-dhcp-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory dhcp plugin
 This package includes the LDAP schema needed by the FusionDirectory
 dhcp plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-dns
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: dns plugin for FusionDirectory
 DNS service management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-dns-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory dns plugin
 This package includes the LDAP schema needed by the FusionDirectory
 dns plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-fai
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-goto
Breaks: gosa (<<2.6)
Description: fai plugin for FusionDirectory
 FAI plugin for managing Linux system deployment.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-fai-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory fai plugin
 This package includes the LDAP schema needed by the FusionDirectory
 fai plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-gofax
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: gofax plugin for FusionDirectory
 GOfax management with report functionality
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-gofon
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: gofon plugin for FusionDirectory
 GOfon management with report functionality
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-goto
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: goto plugin for FusionDirectory
 GOto desktop management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-kolab
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity, fusiondirectory-plugin-mail
Breaks: gosa (<<2.6)
Description: kolab plugin for FusionDirectory
 Kolab2 account management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-kolab-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory kolab plugin
 This package includes the LDAP schema needed by the FusionDirectory
 kolab plugin.
 .
 fusiondirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-ldapmanager
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: ldapmanager plugin for FusionDirectory
 LDAP import and export management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-log
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: log plugin for FusionDirectory
 Syslog and FusionDirectory logging management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-log-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for fusiondirectory² log plugin
 This package includes the LDAP schema needed by the FusionDirectory
 log plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-mail
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: base mail plugin for FusionDirectory
 Mail management base plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-mit-krb5
Architecture: all
Conflicts: fusiondirectory-plugin-heimdal 
Breaks: gosa (<<2.6)
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Description: mit-krb5 plugin for FusionDirectory
 MIT kerberos management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-mit-krb5-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory mit-krb5 plugin
 This package includes the LDAP schema needed by the FusionDirectory
 mit-krb5 plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-nagios
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: nagios plugin for FusionDirectory
 Nagios account settings management
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-nagios-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory nagios plugin
 This package includes the LDAP schema needed by the FusionDirectory
 nagios plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-netatalk
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: netatalk plugin for FusionDirectory
 Netatalk account management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-opengroupware
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-mail, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: opengroupware plugin for FusionDirectory
 Opengroupware account management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-openxchange
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-mail, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: openxchange plugin for FusionDirectory
 Open-Xchange account management plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-openxchange-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory openxchange plugin
 This package includes the LDAP schema needed by the FusionDirectory
 openxchange plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-opsi
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-fai, fusiondirectory-plugin-goto
Breaks: gosa (<<2.6)
Description: opsi plugin for FusionDirectory
 opsi plugin for managing windows system and software deployment
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-phpgw
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-mail, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: phpgw plugin for FusionDirectory
 PHP Groupware connectivity plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-phpgw-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory phpgw plugin
 This package includes the LDAP schema needed by the FusionDirectory
 phpgw plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-phpscheduleit
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: phpscheduleit plugin for FusionDirectory
 PHP scheduleit connectivity plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-phpscheduleit-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory phpscheduleit plugin
 This package includes the LDAP schema needed by the FusionDirectory
 phpscheduleit plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-pptp
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: pptp plugin for FusionDirectory
 PPTP connectivity plugin
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-pptp-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory pptp plugin
 This package includes the LDAP schema needed by the FusionDirectory
 pptp plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-pureftpd
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: pureftpd plugin for FusionDirectory
 PureFTPD connectivity plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-pureftpd-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory pureftpd plugin
 This package includes the LDAP schema needed by the FusionDirectory
 pureftpd plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-rolemanagement
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: rolemanagement plugin for FusionDirectory
 Role Management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-rsyslog
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-systems
Breaks: gosa (<<2.6)
Description: rsyslog plugin for FusionDirectory
 Syslog and FusionDirectory logging plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-samba
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: samba3 plugin for FusionDirectory
 Plugin for Samba 3 management.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-scalix
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: scalix plugin for FusionDirectory
 Scalix account management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-squid
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: squid plugin for FusionDirectory
 Squid connectivity plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-ssh
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: ssh plugin for FusionDirectory
 SSH key management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-ssh-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory ssh plugin
 This package includes the LDAP schema needed by the FusionDirectory
 ssh plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-sudo
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: sudo plugin for FusionDirectory
 Sudo management plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-sudo-schema
Architecture: all
Depends: ${misc:Depends}
Recommends: slapd
Description: LDAP schema for FusionDirectory sudo plugin
 This package includes the LDAP schema needed by the FusionDirectory
 sudo plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-systems
Architecture: all
Depends: ${misc:Depends}, fusiondirectory
Breaks: gosa (<<2.6)
Description: systems plugin for FusionDirectory
 Systems management base plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-uw-imap
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-mail
Breaks: gosa (<<2.6)
Description: uw-imap plugin for FusionDirectory
 UW imap mail method.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

Package: fusiondirectory-plugin-webdav
Architecture: all
Depends: ${misc:Depends}, fusiondirectory, fusiondirectory-plugin-connectivity
Breaks: gosa (<<2.6)
Description: webdav plugin for FusionDirectory
 WebDAV connectivity plugin.
 .
 FusionDirectory is a combination of system-administrator and end-user web
 interface, designed to handle LDAP based setups.

