[Desktop Entry]
MimeType=text/plain;
GenericName=GOsa²
Exec=/usr/bin/gosa
Icon=gosa
Path=/usr/bin
Type=Application
Terminal=false
Name=GOsa
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;System;
