@import "colors";

div.msgtitle {
  width: auto;
  background-color: @background-header-color;
  border: solid 1px @border-color-1;
  margin-bottom: 7px;
  h2 {
    margin: 10px;
  }
}

div.msgdialog {
  width: 60%;
  z-index: 150;
  position: relative;
  display: none;
  margin: auto;
  top: 200px;
  .description {
    font-style: italic;
  }

  @media (max-height: 600px) {
    top: auto;
  }

  @media (max-width: 640px) {
    /* Small screens (i.e. phones) */
    top: auto;
    width: auto;
  }
}
