body {
margin:0;
background-color:#fcfcfc;
color:#2980b9;
font-family:arial,helvetica,sans-serif;
font-size:12px;
}

h1 {
margin:0;
background-color:#507AAA;
border-bottom:1px solid #C0C2C3;
padding-top:.2em;
padding-bottom:.2em;
}

img.center {
text-align:center;
vertical-align:middle;
}

h1.headline {
font-size:2em;
}

div.success {
padding:1em;
}

p.infotext {
padding:.5em;
}

table {
border-spacing:.5em;
}

div.change {
margin-right:.5em;
text-align:right;
}
html.rtl div.change {
text-align:left;
}

div.ruler {
border-top:1px solid #C0C2C3;
width:100%;
height:1px;
margin-top:.5em;
margin-bottom:.5em;
}

table.iesucks {
width:60%;
}
