.plugin-window {
  vertical-align: top;
  text-align: justify;
  background-color: #f3f4f4;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: auto;
  border: 1px solid #c0c2c3;
  padding: 0;
}
div.pluginfo {
  border-bottom: 1px solid #c0c2c3;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
  vertical-align: middle;
  background-color: #eff0f1;
  font-size: 12px;
}
html.ltr div.pluginfo {
  text-align: right;
}
html.rtl div.pluginfo {
  text-align: left;
}
/* Common to plugins and login form */
.plugbottom {
  border-style: solid;
  border-color: #c0c2c3;
  width: 100%;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 10px;
  padding-bottom: 0;
  clear: both;
}
html.ltr .plugbottom {
  text-align: right;
}
html.rtl .plugbottom {
  text-align: left;
}
.plugbottom input[type=submit],
.plugbottom input[type=button] {
  min-width: 80px;
}
/* Specific to plugin edition */
p.plugbottom {
  position: fixed;
  bottom: 0;
  margin: 0;
  border-radius: 5px 5px 0 0;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #e5e5e5;
}
html.ltr p.plugbottom {
  right: 10px;
}
html.rtl p.plugbottom {
  left: 10px;
}
/* Simple Plugin specific things */
.plugin-sections:after {
  content: "";
  display: block;
  clear: both;
}
.plugin-section {
  display: block;
  width: 49%;
  border: 1px solid #c0c2c3;
  padding: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  position: relative;
}
html.ltr .plugin-section {
  float: left;
  clear: left;
  margin-left: 0.5%;
  margin-right: 0;
}
html.rtl .plugin-section {
  float: right;
  clear: right;
  margin-left: 0;
  margin-right: 0.5%;
}
html.ltr .plugin-section:nth-child(even) {
  float: right;
  clear: right;
  margin-left: 0;
  margin-right: 0.5%;
}
html.rtl .plugin-section:nth-child(even) {
  float: left;
  clear: left;
  margin-left: 0.5%;
  margin-right: 0;
}
div.plugin-section {
  padding-top: 25px;
}
.plugin-section > div {
  padding: 5px;
}
.plugin-section > div > table {
  min-width: 80%;
}
.plugin-section > span.legend {
  margin-top: -26px;
}
fieldset.plugin-section > div {
  padding-top: 30px;
}
fieldset.plugin-section legend {
  padding: 0;
  margin: 0;
}
html.ltr fieldset.plugin-section legend {
  float: left;
}
html.ltr fieldset.plugin-section legend {
  float: right;
}
fieldset.plugin-section select[multiple],
fieldset.plugin-section textarea {
  width: 100%;
  min-width: 130px;
}
fieldset.plugin-section legend span,
.plugin-section > span.legend {
  font-weight: bold;
  background-color: #e5e5e5;
  border: 1px solid #c0c2c3;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: block;
}
html.ltr fieldset.plugin-section legend span,
html.ltr .plugin-section > span.legend {
  margin-left: -1px;
}
html.rtl fieldset.plugin-section legend span,
html.rtl .plugin-section > span.legend {
  margin-right: -1px;
}
fieldset.plugin-section legend span {
  position: absolute;
  top: 0;
  margin-top: -1px;
}
html.ltr fieldset.plugin-section legend span {
  left: 0;
}
html.rtl fieldset.plugin-section legend span {
  right: 0;
}
fieldset.plugin-section legend img,
.plugin-section span.legend img {
  vertical-align: middle;
}
html.ltr fieldset.plugin-section legend img,
html.ltr .plugin-section span.legend img {
  margin-right: 3px;
}
html.rtl fieldset.plugin-section legend img,
html.rtl .plugin-section span.legend img {
  margin-left: 3px;
}
html.ltr .plugin-section.fullwidth,
html.rtl .plugin-section.fullwidth {
  float: none;
  clear: both;
  width: auto;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
}
html.ltr .plugin-section.alone,
html.rtl .plugin-section.alone {
  float: none;
  clear: both;
}
html.ltr .plugin-section.invisible,
html.rtl .plugin-section.invisible {
  display: none;
}
html.ltr .plugin-section.nonreadable,
html.rtl .plugin-section.nonreadable {
  display: none;
}
html.ltr .plugin-section > div > table > tbody > tr.nonreadable,
html.rtl .plugin-section > div > table > tbody > tr.nonreadable {
  display: none;
}
html.ltr .plugin-section > div > table > tbody > tr.nonwritable.subattribute,
html.rtl .plugin-section > div > table > tbody > tr.nonwritable.subattribute {
  display: none;
}
html.ltr .plugin-section > div > table > tbody > tr.nonwritable .subattribute,
html.rtl .plugin-section > div > table > tbody > tr.nonwritable .subattribute {
  display: none;
}
html.ltr .plugin-section > div > table > tbody > tr.nonwritable input:disabled,
html.rtl .plugin-section > div > table > tbody > tr.nonwritable input:disabled,
html.ltr .plugin-section > div > table > tbody > tr.nonwritable select:disabled,
html.rtl .plugin-section > div > table > tbody > tr.nonwritable select:disabled,
html.ltr .plugin-section > div > table > tbody > tr.nonwritable textarea:disabled,
html.rtl .plugin-section > div > table > tbody > tr.nonwritable textarea:disabled {
  color: #31363b;
}
html.ltr .plugin-section > div > table > tbody > tr.required > td > label::after,
html.rtl .plugin-section > div > table > tbody > tr.required > td > label::after {
  content: "*";
  color: #dd0000;
}
fieldset.plugin-section.critical legend span,
.plugin-section.critical > span.legend {
  font-weight: bold;
  background-color: #bbccff;
}
fieldset.plugin-section.critical legend span:after,
.plugin-section.critical > span.legend:after {
  content: "   (editing this can break your LDAP)";
  color: #dd0000;
}
.plugin-section.critical > div {
  background-color: #dfefff;
}
/* On small screens */
@media (max-width: 640px) {
  .plugin-window {
    margin: 0;
    border: none;
    width: 100%;
  }
  .plugin-section > div > table {
    width: 100%;
  }
  html.ltr .plugin-section,
  html.ltr .plugin-section:nth-child(even),
  html.ltr .plugin-section.fullwidth,
  html.rtl .plugin-section,
  html.rtl .plugin-section:nth-child(even),
  html.rtl .plugin-section.fullwidth {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    border-top: none;
    margin: 0;
  }
  .plugbottom {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 1px;
    padding-right: 1px;
    border: none;
  }
  p.plugbottom {
    left: 5px;
    right: 5px;
  }
  .plugbottom input[type=submit],
  .plugbottom input[type=button] {
    border: 1px solid #c0c2c3;
    width: 30% !important;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
  }
  .plugbottom input[type=submit]:active,
  .plugbottom input[type=button]:active {
    position: relative;
    top: 1px;
  }
  html.ltr .plugbottom input[type=submit]:active,
  html.ltr .plugbottom input[type=button]:active {
    left: 1px;
  }
  html.rtl .plugbottom input[type=submit]:active,
  html.rtl .plugbottom input[type=button]:active {
    right: 1px;
  }
}
