/************************
 * Sieve
 *  The following styles are
 *  used to display the sieve
 *  management user interface
 ************************/
/* Editing dialog styles
 */
table.sieve_default_table {
width:100%;
margin:0;
border-spacing:0;
padding:0;
}

/* Editing surface */
table.editing_surface {
width:100%;
margin:0;
padding:0;
}

/* Editing surface menu */
td.editing_surface_menu {
background-color:#EEE;
border:1px solid #BBB;
padding:5px;
}

/* Editing surface content */
td.editing_surface_content {
background-color:#FFF;
margin:0;
padding:0;
}

/* Error message will be displayed as follows */
div.sieve_error_msgs {
background-color:#ff8d00;
color:#000;
padding:5px;
background-image:url(../../geticon.php?context=status&icon=dialog-warning&size=16);
background-repeat:no-repeat;
font-weight:bold;
}

/* Source editing area */
textarea.editing_source {
width:100%;
height:330px;
}

/*************
 * Object container
 *************/
/* The container itself */
table.object_container_container {
width:100%;
border-spacing:0;
background-color:#F8F8F8;
border:solid 1px #AAA;
}

/* Container cell top left */
td.object_container_cell_top_left {
background-color:#EEE;
text-align:center;
}

/* Container cell top right */
td.object_container_cell_top_right {
background-color:#EEE;
text-align:left;
padding:2px;
border-bottom:solid 1px #AAA;
}
html.rtl td.object_container_cell_top_right {
text-align:right;
}

/* Container cell bottom left */
td.object_container_cell_bottom_left {
width:5px;
background-color:#EEE;
text-align:center;
}
html.ltr td.object_container_cell_bottom_left {
border-right:solid 1px #AAA;
}
html.rtl td.object_container_cell_bottom_left {
border-left:solid 1px #AAA;
}

/*************
 * Sieve comment
 *************/
/* Container */
table.sieve_comment_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
textarea.sieve_comment_area {
width:100%;
height:80px;
}

/*************
 * Sieve require
 *************/
/* Container */
table.sieve_require_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
input.sieve_require_input {
width:100%;
border-spacing:0;
}

/*************
 * Sieve fileinto
 *************/
/* Container */
table.sieve_fileinto_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
input.sieve_fileinto_input {
width:300px;
}

select.sieve_fileinto_input {
width:300px;
}

/*************
 * Sieve keep
 *************/
/* Container */
table.sieve_keep_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_keep_input {
padding-left:20px;
}
html.rtl td.sieve_keep_input {
padding-right:20px;
}

/*************
 * Sieve discard
 *************/
/* Container */
table.sieve_discard_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_discard_input {
padding-left:20px;
}
html.rtl td.sieve_discard_input {
padding-right:20px;
}

/*************
 * Sieve redirect
 *************/
/* Container */
table.sieve_redirect_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_redirect_input {
padding-left:20px;
}
html.rtl td.sieve_redirect_input {
padding-right:20px;
}

textarea.sieve_redirect_input {
width:100%;
height:30px;
}

/*************
 * Sieve reject
 *************/
/* Container */
table.sieve_reject_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_reject_input {
padding-left:20px;
}
html.rtl td.sieve_reject_input {
padding-right:20px;
}

textarea.sieve_reject_input {
width:100%;
height:55px;
}

/*************
 * Sieve end
 *************/
/* Container */
table.sieve_stop_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_stop_input {
padding-left:20px;
}
html.rtl td.sieve_stop_input {
padding-right:20px;
}

/*************
 * Sieve vacation
 *************/
/* Container */
table.sieve_vacation_container {
margin:0;
padding:0;
border-spacing:0;
width:100%;
background-color:#F8F8F8;
}

/* Editing area */
html.ltr td.sieve_vacation_input {
padding-left:20px;
}
html.rtl td.sieve_vacation_input {
padding-right:20px;
}

/* Editing area */
textarea.sieve_vacation_input {
width:100%;
height:55px;
}

/*************
 * Sieve allof
 *************/
table.sieve_allof_container {
width:100%;
border-spacing:0;
margin:0;
padding:0;
border:solid 1px #999;
}

/* Container */
td.sieve_allof_left {
text-align:center;
vertical-align:middle;
width:35px;
background-color:#CCC;
border:solid 0 #EEE;
}

/* Container */
td.sieve_allof_right {
background-color:#BDBDBD;
}

/*************
 * Sieve anyof
 *************/
table.sieve_anyof_container {
width:100%;
margin:0;
border-spacing:0;
padding:0;
border:solid 2px #CCC;
}

/* Container */
td.sieve_anyof_left {
text-align:center;
vertical-align:middle;
width:35px;
background-color:#CCC;
border:solid 0 #EEE;
}

/* Container */
td.sieve_anyof_right {
background-color:#BDBDBD;
border:solid 1px #AAA;
}

/*************
 * Sieve Test Cases
 *************/
table.sieve_test_container {
width:100%;
background-color:#F8F8F8;
margin:0;
border-spacing:0;
padding:0;
border:solid 1px #AAA;
}

table.sieve_test_case {
width:100%;
margin:0;
border-spacing:0;
padding:0;
}

html.ltr td.container_, html.ltr div.container_ {
padding-left:2px;
border-left:solid 2px #F8F8F8;
}
html.rtl td.container_, html.rtl div.container_ {
padding-right:2px;
border-right:solid 2px #F8F8F8;
}

td.container_:hover,div.container_:hover {
display:block;
}
html.ltr td.container_:hover, html.ltr div.container_:hover {
border-left:solid 2px #000;
}
html.rtl td.container_:hover, html.rtl div.container_:hover {
border-right:solid 2px #000;
}
